.git
.github
.idea
.vscode
.zed
node_modules
vendor
public/build
public/hot
public/storage
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
database/*.sqlite*
.env
.env.*
docker.env
backups
*.docx
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
