APP_NAME="ATU Psychology"
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://psychologist.atu.kz
APP_TIMEZONE=Asia/Qyzylorda
APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
LOG_LEVEL=warning

APP_PORT=127.0.0.1:8113
PHPMYADMIN_PORT=127.0.0.1:8114
PHPMYADMIN_ABSOLUTE_URI=https://psychologist.atu.kz/phpmyadmin/

RUN_MIGRATIONS=false
PHP_BASE_IMAGE=student-profile-app:latest

DOCKER_DB_DATABASE=psychologist_atu
DOCKER_DB_USERNAME=psychologist_atu
DOCKER_DB_PASSWORD=change_me_database_password
DOCKER_DB_ROOT_PASSWORD=change_me_root_database_password

QUEUE_CONNECTION=database
CACHE_STORE=database
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_DOMAIN=psychologist.atu.kz
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
FILESYSTEM_DISK=local

MAIL_MAILER=smtp
MAIL_HOST=change_me_smtp_host
MAIL_PORT=587
MAIL_USERNAME=change_me_smtp_username
MAIL_PASSWORD=change_me_smtp_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@atu.kz
MAIL_FROM_NAME="ATU Psychology"

SPP_API_TOKEN=change_me_long_random_static_token
SPP_API_ROLE=admin
